.products-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.products-header input {
    width: 100vh;
    padding: 3vh;
    background-color: #131313;
    border: 1px solid #131313;
    border-radius: 4px;
}

.products-header button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.products-header button:hover {
    background-color: #0056b3;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-block {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-block img {
    max-width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.product-block button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-block button:hover {
    background-color: #0056b3;
}

.add-product-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-product-block:hover {
    background-color: #e9ecef;
}

.product-form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px 0;
}

.product-form h2 {
    margin-bottom: 20px;
}

.product-form form {
    display: flex;
    flex-direction: column;
}

.product-form form div {
    margin-bottom: 10px;
}

.product-form form label {
    margin-bottom: 5px;
}

.product-form form input,
.product-form form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-form form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-form form button[type="button"] {
    background-color: #6c757d;
}

.product-form form button:hover {
    background-color: #0056b3;
}

.product-form form button[type="button"]:hover {
    background-color: #5a6268;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #e9ecef;
}
